.main-content {
    display: flex;
    justify-content: space-between;
    padding: 100px 50px 20px 50px;
}

.featured-movie {
    position: relative;
    width: 80%;
}

.featured-image {
    margin-left: 40px;
    width: 90%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

.movie-info {
    position: absolute;
    bottom: 3px;
    left: 40px;
    max-width: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 8px;
}

.movie-info button {
    background: #e50914;
    border-color: #e50914;
    border-radius: 7px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-buttons button {
    background: rgba(0, 0, 0, 0.7);
    border-color: white;
    border-radius: 5px;
    color: white;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 28px;
    transition: background 0.3s;
}

.nav-buttons button:hover {
    background: rgba(0, 0, 0, 0.9);
}

.up-next {
    width: 30%;
    background-color: rgba(38, 36, 36, 0.4);
    color: #fff;
    border-radius: 10px;
    margin-right: 40px;
}

.up-next h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
}

.up-next-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 5px;
}

.up-next-list::-webkit-scrollbar {
    width: 6px;
}

.up-next-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.up-next-list::-webkit-scrollbar-track {
    background: transparent;
}

.up-next-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(33, 31, 31, 0.7);
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.up-next-item:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: scale(1.03);
}

.up-next-item img {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.up-next-item span {
    font-size: 0.9rem;
    color: #ddd;
    font-weight: 500;
}

.movie-list {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.movie-list::-webkit-scrollbar {
    display: none;
}


.movie-card {
    overflow: visible;
    transition: transform 0.3s;
    position: relative;
}

.movie-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transform: scale(1.05);
    z-index: 1;
}

.movie-card img {
    border-radius: 6px 6px 0 0;
    transition: transform 0.3s ease;
}

#searchResultsList .movie-card p {
    text-align: center;
    color: white;
    padding: 5px 5px;
}

.movie-card p {
    margin: 0;
}