body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #5e5b5b;
    color: #fff;
}


.site-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 42px;
  font-weight: 700;
  color: #cfc6c6;
  text-shadow: 2px 4px 10px rgba(0,0,0,0.7);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 2;
}

.logo {
    height: 50px;
}

.search-bar input {
    margin-left: 30px;
    padding: 5px;
    font-size: 16px;
    width: 400px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.featured-movie {
    position: relative;
    width: 80%;
}

.featured-image {
    margin-left: 30px;
    width: 75%;
    height: 500px;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.movie-info h2 {
    margin: 0;
    font-size: 2em;
}

.movie-info p {
    margin: 5px 0;
}

.movie-info button {
    background: #e50914;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-buttons button {
    background: #444;
    border-radius: 5px #f5f5f5;;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 28px;
}

.up-next {
    width: 20%;
    background-color: #444;
    padding: 10px;
    margin-top:0;
    color: #fff;
}

.up-next h3 {
    margin-top: 0;
}

.up-next-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.up-next-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.up-next-item img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
    object-fit: cover;
}
