.go-back-btn {
    position: relative;
}

.movie-list {
    overflow-x: hidden;
}

.movie-list.loading::after {
    content: "Loading more movies...";
    display: block;
    text-align: center;
    padding: 20px;
    color: #f5c518;
}

.movie-card {
    transition: transform 0.2s;
}

.movie-details-container {
    max-width: 900px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    color: #fff;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 12px;
    backdrop-filter: blur(3px);
    font-family: 'Playfair Display', serif;
}

.movie-details-container img {
    width: 320px;
    border-radius: 10px;
    object-fit: cover;
}

.movie-details-content {
    flex: 1;
}

.movie-details-content h2 {
    margin-top: 0;
    font-size: 26px;
    color: #f0f0f0;
}

.movie-details-content p {
    font-size: 23px;
    line-height: 28px;
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 5;
    opacity: 0.8;
}

.favorite-btn:hover {
    opacity: 1;
    transform: scale(1.2);
    color: #e50914;
}

.favorite-btn.added {
    color: #e50914;
}

.watch-trailer-btn {
    display: block;
    margin: 60px auto 0 auto;
    padding: 12px 30px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.watch-trailer-btn:hover {
    background-color: #f40612;
}