 <div class="header">
        <button id="categoriesBtn" class="categories-btn">☰</button>
        <div id="categoriesDropdown" class="categories-dropdown"></div>
        
        <h1 class="site-title">🎬 MovieRush</h1>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search movies...">
            <button id="searchBtn">🔎</button>
        </div>

    <div class="dropdown">
     <button id="profileBtn" class="dropbtn">👤 Profile ▼</button>
    <div class="dropdown-content">
      <a href="#" id="favoritesLink">❤️ Your Favorites</a>
      <a href="#" id="logoutBtn">🚪 Logout</a>
    </div>
     </div>
    </div>